<div class="row justify-content-center">
    <div class="col-md-10">
        <h2>Signos del Zodiaco</h2>
        <div class="row">
            <!---HOROSCOPO 1--->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/aries.png" alt="aries">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(3)">Aries</button>
                        
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 2-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/leo.png" alt="Leo">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(7)">Leo</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 3-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/sagitario.png" alt="Sagitario">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(11)">Sagitario</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 4-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/tauro.png" alt="Tauro">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(4)">Tauro</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 5-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/virgo.png" alt="Virgo">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(8)">Virgo</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 6-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/capricornio.png" alt="Capricornio">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(0)">Capricornio</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 7-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/geminis.png" alt="Geminis">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(5)">Geminis</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 8-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/libra.png" alt="Libra">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(9)">Libra</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 9-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/acuario.png" alt="Acuario">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(1)">Acuario</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 10-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/cancer.png" alt="Cancer">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(6)">Cancer</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 11-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/escorpio.png" alt="Escorpion">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(10)">Escorpion</button>
                    </div>
                </div>
            </div>
            <!--HOROSCOPO 12-->
            <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col-4">
                        <img class="img-per-horoscopo" src="/assets/imagentp2/piscis.png" alt="Picis">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-success btn-block btn-per-horoscopo" (click)="mostrarHoroscopo(2)">Picis</button>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row" *ngIf="verSigno">
            <div class="col-md">
                <div class="card text-left">
                    <div class="card-header badge-success">
                        <h3 class="text-center">{{horoscopos[indice].name}}</h3>
                    </div>
                    <div class="card-body card-body-per-horoscopo">
                        <div class="row fondo-card">
                            <div class="col-8">
                                <p class="text-break"></p>
                                
                                   
                            </div>

                            <div class="col-4">
                                <img class="rounded-circle img-fluid" src="/assets/imagentp2/capricornio.png"
                                    alt="Capricornio">
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer-per">
                        <div class="row">
                            <p class="col-md-5 text-center">Fecha de Inicio: {{horoscopos[indice].start_date}}</p>
                            <p class="col-md-2 text-center">~</p>
                            <p class="col-md-5 text-center"> Fecha de Finalización: {{horoscopos[indice].end_date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
